:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --footer-title-text-color: #e7e9fc;
  --section-title-text-color: #ffffff;
}
body {
  background-color: #ffffff;
  color: #434455;
  font-family: roboto, sans-serif;
  letter-spacing: 0.02em;
}
/* Logo web */
.logo-web {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  letter-spacing: 0.03em;
}
/* logo studio */
.logo-studio {
  color: var(--title-text-color);
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  display: flex;
  letter-spacing: 0.03em;
}
/* button */
button {
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
/* auth-nav */
.auth-nav a {
  color: var(--primary-text-color);
}
/* text none */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Site-nav */
.site-nav a {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.section-title {
  color: var(--title-text-color);
}
/* site-contacts */
.text-contacts-email {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 940px;
  top: 24px;

  /* Body */

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.text-contacts-tel {
  position: absolute;
  width: 151px;
  height: 24px;
  left: 1133px;
  top: 24px;

  /* Body */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
/* footer-title */
.footer-title {
  color: var(--footer-title-text-color);
}
.section-title-text {
  color: var(--section-title-text-color);
}
